/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Main Layout */
.weather-app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
      "header header"
      "current-side main";
  
  background: radial-gradient(circle at top left, #0b132b, #1c2541, #3a506b, #5bc0be);
}

.header {
  grid-area: header;
}

.current-side {
  grid-area: current-side;
}

.main {
  grid-area: main;
}

/* current-side */

.current-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 32px;
  color: #fafafa;
}

.location-container {
  font-size: 24px;
  font-weight: bold;
}

.current-temp {
  font-size: 72px;
  font-weight: bold;
  cursor: pointer;
}

.current-condition {
  font-size: 20px;
  font-weight: bold;
}

.min-max-container {
  display: flex;
  align-items: center;
}

.current-max {
  margin-right: 5px;
}

.feels-like-container {
  display: flex;
  align-items: center;
}

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.search-container {
  position: relative;
}

.search-input {
  background: transparent;
  padding-right: 35px;
  border: none;
  color: #fafafa;
  border-bottom: 2px solid #fafafa;
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #f5d776;
}

.search-input::placeholder {
  color: #fafafa;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Main */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-weather-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

/* Hourly Forecast */
.hourly-container {
  position: relative;
  max-width: 700px;
  max-height: 200px;
  overflow: hidden;
}

.hourly-card-container {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  gap: 5px;
  padding: 16px;
  color: #fafafa;
  background: rgba(0, 0, 0, 0.1);
}

.weather-icon {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.hourly-title {
  color: #fafafa;
}
