/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Main Layout */
.weather-app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
      "header header"
      "current-side main";
  
  /* Change this later to work with day/night cycle */
  /* Night */
  /* background: radial-gradient(circle at top left, #0b132b, #1c2541, #3a506b, #5bc0be); */
  /* Day */
  background: linear-gradient(to bottom, #87CEEB, #87CEFA, #B0E0E6, #FFFFFF);
}

.header {
  grid-area: header;
}

.current-side {
  grid-area: current-side;
}

.main {
  grid-area: main;
}